<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <hr>
	<div id="app"></div>

	<table border="1">
		<thead>
			<tr>
				<td>ENDPOINT</td>
				<td>DESCRIPTION</td>
			</tr>
		</thead>
		<tbody>			
			<tr>
				<td><a href="/api/users">/api/users</a></td>
				<td>Get all users</td>
			</tr>
		</tbody>
	</table>

    <script src="/js/jquery-3.2.1.min.js"></script>
  	<script>

	  	var html = "<h1><%= title %></h1>";	  	
	  	$('#app').html(html);

  	</script>
  </body>
</html>
